.addition-goods__list {
  @include resetList;
}

.addition-goods__title {
  position: relative;
  margin: 0;
  padding: 32px 20px 32px 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  background-color: #ffffff;

  &::after {
    content: "";
    position: absolute;
    margin: 0 0 0 20px;
    left: 0;
    top: 45px;
    width: 280px;
    height: 3px;
    background-color: $mainColor;
    z-index: -1;
  }
}

.addition-goods__title-wrapper {
  display: inline-block;
}

.addition-goods__item-title {
  margin: 0;
  padding: 0 0 15px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.addition-goods__wrapper {
  padding: 0 0 15px;

  @include text(14px, 14px);
  display: flex;
  justify-content: space-between;
}

.addition-goods__item {
  padding: 14px 0 17px;
}
