.addition-goods {
  padding: 0 0 35px;
}

.addition-goods__list {
  @include resetList;
  padding: 0 0 38px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.addition-goods__title {
  position: relative;
  margin: 32px 0;
  padding: 0 20px 0 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  background-color: #ffffff;

  &::after {
    content: "";
    position: absolute;
    right: -20px;
    top: 16px;
    width: 53px;
    height: 3px;
    background-color: $mainColor;
  }
}

//---tablet---------------------------------------------------------------------
@media (min-width: $tablet-width) {
  .addition-goods {
    padding: 0 0 76px;
  }

  .addition-goods__title {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0 37px 80px;

    &::before {
      content: "";
      position: absolute;
      left: -30px;
      top: 22px;
      width: 30px;
      height: 3px;
      background-color: $mainColor;
    }

    &::after {
      right: -30px;
      top: 22px;
      width: 328px;
      z-index: 2;
    }
  }

  .addition-goods__list {
    padding: 0 0 70px;
  }

  .addition-goods__item {
    margin: 0 0 -1px;
  }
}
//------------------------------------------------------------------------------

//---desktop--------------------------------------------------------------------
@media (min-width: $desktop-width) {
  .addition-goods__title {
    width: 1220px;
  }

  .addition-goods__item {
    width: 895px;
  }
}
//------------------------------------------------------------------------------
