.addition-goods {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.addition-goods__list {
  @include resetList;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.addition-goods__title {
  position: relative;
  margin: 0;
  padding: 32px 20px 32px 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  background-color: #ffffff;

  &::after {
    content: "";
    position: absolute;
    margin: 0 0 0 20px;
    left: 0;
    top: 45px;
    width: 280px;
    height: 3px;
    background-color: $mainColor;
    z-index: -1;
  }
}

.addition-goods__title-wrapper {
  display: inline-block;
}

@media (min-width: $tablet-width) {
  .addition-goods__item {
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .addition-goods__title {
    width: 1220px;
  }

  .addition-goods__item {
    width: 895px;
  }
}
