.advantages {
  margin: 0 0 30px;
}

.advantages__list {
  @include resetList();
}

.advantages__item {
  display: flex;
  align-items: center;
}

.advantages__icon {
  width: 60px;
  height: 60px;
  margin: 10px 20px 10px 0;

  &--safe {
    background: $mainColor url("../img/advantage-leaf@1x.png") no-repeat 50% 50%;
  }

  &--fast {
    background: $mainColor url("../img/advantage-powder@1x.png") no-repeat 50% 50%;
  }

  &--food {
    background: $mainColor url("../img/advantage-dining@1x.png") no-repeat 50% 50%;
  }

  &--time {
    background: $mainColor url("../img/advantage-clock@1x.png") no-repeat 50% 50%;
  }
}

.advantages__text {
  @include text;
  margin: 0;
  width: 200px;
}

.advantages__title {
  margin: 0 0 20px;
}

//---tablet---------------------------------------------------------------------
@media (min-width: $tablet-width) {
  .advantages {
    margin: 0;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    counter-reset: item;

    &::after {
      content: "";
      position: absolute;
      width: 768px;
      height: 1px;
      left: 0;
      bottom: 0;
      background-color: #e6e6e6;
    }
  }

  .advantages__item {
    position: relative;
    width: 324px;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;
    margin: 0 0 88px;

    &::before {
      counter-increment: item;
      content: counter(item)"";
      position: absolute;
      font-size: 281px;
      line-height: 281px;
      color: #f2f2f2;
      top: -18px;
      left: 115px;
      z-index: -1;
    }
  }

.advantages .advantages__title {
  margin: 50px 0;
}
.advantages__icon {
  width: 80px;
  height: 80px;
  margin: 0 0 35px;
}

.advantages__text {
  @include text(16px, 24px);
  padding: 0 75px 0 0;
  width: auto;
}
}
//------------------------------------------------------------------------------

//---desktop--------------------------------------------------------------------
@media (min-width: $desktop-width) {
  .advantages__list {
    flex-direction: row;
    justify-content: space-between;
  }

  .advantages__item {
    width: 245px;
  }
}
//------------------------------------------------------------------------------
