.button {
  display: block;
  width: 280px;
  height: 40px;
  background-color: $mainColor;
  border-style: none;
  color: #fff;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}
