.contacts__map {
  width: 100%;
  min-width: 320px;
  height: 400px;
}

.contacts--inner {
  background: $secondColor;
}

.contacts__address {
  @include text(14px, 20px);
}

.contacts__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
