
.copyright:hover .copyright__logo {
  fill: #68b738;
}

.copyright__logo {
  display: block;
  fill: #666666;
}

.copyright__text {
  @include text(16px, 16px);
}

.copyright__link {
  position: relative;
  width: 280px;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

//---desktop--------------------------------------------------------------------
@media (min-width: $tablet-width) {
  .copyright__link {
    width: 162px;
  }
}
//------------------------------------------------------------------------------
