.example {
  padding: 5px 0 0;
  background-color: $secondColor;
}

.example__stats-list {
  @include resetList;
  display: flex;
  justify-content: space-between;
}

.example__list {
  @include resetList;
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.example__item {
  flex: none;
}

.example__text {
  margin: 23px 0;
  padding: 0 10px 0 0;

  @include text;
}

.example__info {
  padding: 20px 0;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.example__slider {
  padding: 35px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example__diff-wrapper {
  margin: 0 auto;
  width: 320px;
}

// .example__image {
//   position: absolute;
//   top: 0;
//   left: 0;
//
//   &--before {
//     z-index: 1;
//   }
//
//   &--after {
//     z-index: -1;
//   }
// }

//---tablet---------------------------------------------------------------------
@media (min-width: $tablet-width) {
  .example {
    padding: 24px 0 0;
    background-color: #ffffff;
  }

  .example__list {
    margin: 0 0 0 46px;
  }

  .example__text {
    margin: 50px 0;
    padding: 0 10px 0 0;

    @include text(16px, 24px);
  }

  .example__info {
    width: 175px;
    margin: 0;
    padding: 10px 0 0;
    font-size: 20px;
    line-height: 27px;
    text-align: right;
  }

  .example__stats-list {
    width: 366px;
    justify-content: space-between;
  }

  .example__stats-wrapper {
    margin: 0 0 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .example__diff-wrapper {
    margin: 0 auto;
    width: 768px;
    background-color: #f2f2f2;
  }

  .example__list {
    margin: 0 auto;
    padding:  0 0 18px;
  }

  .example__slider {
    padding: 0 0 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
//------------------------------------------------------------------------------

//---desktop--------------------------------------------------------------------
@media (min-width: $desktop-width) {
  .example__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .example__stats-wrapper {
    width: 440px;
    flex-shrink: 0;
  }

  .example__diff-wrapper {
    width: 610px;
    flex-shrink: 0;
  }
}
//------------------------------------------------------------------------------
