.example {
  padding: 15px 0 0;
  background-color: $secondColor;
}

.example__stats-list {
  @include resetList;
  display: flex;
  justify-content: space-between;
}

.example__list {
  @include resetList;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.example__item {
  &--before {
    width: 100%;
  }

  &--after {
    width: 0;
  }
}

.example__title {
  margin: 0;
}

.example__text {
  margin: 23px 0;
  padding: 0 10px 0 0;

  @include text;
}

.example__info {
  padding: 20px 0;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.example__slider {
  padding: 35px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example__diff-wrapper {
  margin: 0 auto;
  width: 320px;
}

//---tablet---------------------------------------------------------------------
@media (min-width: $tablet-width) {
  .example {
    padding: 10px 0 0;
    background-color: #ffffff;
  }

  .example__title {
    padding: 0 0 15px;
  }

  .example__text {
    margin: 50px 0;
    padding: 0 10px 0 0;

    @include text(16px, 24px);
  }

  .example__info {
    width: 175px;
    margin: 0;
    padding: 10px 0 0;
    font-size: 20px;
    line-height: 27px;
    text-align: right;
  }

  .example__stats-list {
    width: 366px;
    justify-content: space-between;
  }

  .example__stats-wrapper {
    margin: 0 0 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .example__diff-wrapper {
    margin: 0 auto;
    width: 100%;
    background-image:
      linear-gradient(#ffffff 27%, transparent 27%),
      linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
  }

  .example__list {
    margin: 0 auto;
    width: 690px;
    padding: 0 0 18px;
  }

  .example__item {
    &--before {
      width: 50%;
    }

    &--after {
      width: 50%;
    }
  }

  .example__image {
    width: 100%;
    height: 517px;
    object-fit: cover;

    &--before {
      object-position: left;
      font-family: "object-fit: cover; object-position: left;", sans-serif;
    }

    &--after {
      object-position: right;
      font-family: "object-fit: cover; object-position: right;", sans-serif;
    }
  }

  .example__slider {
    padding: 0 0 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
//------------------------------------------------------------------------------

//---desktop--------------------------------------------------------------------
@media (min-width: $desktop-width) {
  .example {
    background-image:
      linear-gradient(#ffffff 25%, transparent 25%),
      linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
  }

  .example__list {
    margin: -51px auto 0 -7px;
    padding: 0 0 36px;
  }

  .example__diff-wrapper {
    width: 690px;
    background-image:
      linear-gradient(#ffffff 24%, transparent 24%),
      linear-gradient(to right, #f2f2f2 52%, #eaeaea 52%);
  }

  .example__item {
    &--before {
      width: 53%;
    }

    &--after {
      width: 47%;
    }
  }

  .example__wrapper {
    margin: 0 auto;
    width: 1440px;
    display: flex;
    justify-content: flex-start;
  }

  .example__wrapper-container {
    padding: 0 0 0 48px;
    width: 450px;
  }

  .example__stats-wrapper {
    margin: 0;
    width: 435px;
    flex-shrink: 0;
  }

  .example__slider {
    padding: 0 0 74px;
    margin: 0 0 0 25px;
  }

  .example__title {
    padding: 0 0 147px;
  }

  .example__text {
    margin: 0;
    padding: 0 0 68px;
  }

  .example__stats-list {
    padding: 0 0 60px;
  }

  .example__info {
    width: auto;
    padding: 0;
    text-align: right;
  }

  .example__price {
    margin: 0 0 0 60px;
  }
}
//------------------------------------------------------------------------------
