.feature {
  position: relative;
  width: 122px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
}

.feature__text {
  margin: 0;
  padding: 15px 0;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.feature__legend {
  @include text(12px, 12px);
  text-transform: lowercase;
  box-sizing: border-box;
  text-align: center;
  padding: 0 15px;
  position: absolute;
  left: 18px;
  top: 33px;
  width: 87px;
  background-color: $secondColor;
}

@media (min-width: $tablet-width) {
  .feature {
    width: 160px;
  }
}
