.goods-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 0 24px;

  &::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 1px;
    top: -1px;
    left: -20px;
    background-color: #ededed;
  }

  &::after {
    content: "";
    position: absolute;
    width: 320px;
    height: 1px;
    bottom: 0;
    left: -20px;
    background-color: #ededed;
  }
}

.goods-item__title {
  display: block;
  margin: 0 auto;
  padding: 0 0 10px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.goods-item__info {
  width: 100%;

  @include text(12px, 16px);
  border-collapse: collapse;
}

.goods-item__col-1 {
  text-align: left;
}

.goods-item__col-2 {
  text-align: right;
}

.goods-item__text {
  margin: 0;
  padding: 0 0 15px;

  @include text(12px, 16px);
  text-align: center;
}

.goods-item__description {
  width: 140px;
}
