.goods__list {
  @include resetList;
}

@media (min-width: $tablet-width) {
  .goods__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .goods__item {
    width: 324px;
  }
}

@media (min-width: $tablet-width) {
  .goods__item {
    width: 245px;
  }
}
