.goods-item-more {
  padding: 0 0 24px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 320px;
    height: 1px;
    bottom: 0;
    left: -20px;
    background-color: #ededed;
  }
}

.goods-item-more__button {
  background-color: $secondColor;
  color: #444444;
}

.goods-item-more__text {
  margin: 0;
  padding: 0 0 15px;

  @include text(12px, 16px);
  text-align: center;
}

.goods-item-more__icon {
  margin: 0 auto;
  padding: 26px 0;
  display: block;
  width: 30px;
  height: 30px;
  background: url("../../img/icon-plus-mobile.svg") no-repeat 0 26px;
}

.goods-item-more__title {
  display: block;
  margin: 0 auto;
  padding: 0 0 5px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #111111;
  text-transform: uppercase;
}
