.main-nav {
  margin: 0 auto;
}

@media (max-width: $mobile-width-only) {
  .menu-button + .main-nav {
    display: none;
  }

  .menu-button--close + .main-nav {
    display: block;
  }

  .menu-button--nojs + .main-nav {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    flex: auto;
    margin: 0 0 0 auto;
  }

  // .main-nav__list {
  //   display: flex;
  //   margin-left: auto;
  //
  // }
}
