.main-form__title {
  display: block;
  max-width: 182px;
  margin: 0;
  padding: 31px 20px 31px 0;
  width: auto;
  position: relative;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  background-color: #ffffff;

  &::after {
    content: "";
    position: absolute;
    margin: 0 0 0 20px;
    left: 0;
    top: 45px;
    width: 280px;
    height: 3px;
    background-color: $mainColor;
    z-index: -1;
  }
}

.main-form__title-wrapper {
  display: inline-block;
}

.main-form__label {
  padding: 0 15px 0 0;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
  flex-shrink: 0;

  &--option {
    padding: 0 0 0 45px;
    display: block;
  }
}

.main-form__input {
  width: 100%;
  box-sizing: border-box;
  padding: 0 45px 0 15px;
  height: 45px;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;

  &--comment {
    height: 150px;
    padding: 13px;
  }

  &--email {
    background: url("../img/icon-mail.svg") no-repeat right 15px top 50%;
    background-size: 17px 13px;
  }

  &--phone-number {
    background: url("../img/icon-phone.svg") no-repeat right 10px top 50%;
    background-size: 20px 20px;
  }
}

.main-form__footnote {
  @include text(14px 16px);
  padding: 20px;
  display: block;
  text-align: center;
}

.main-form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;

  &--goal::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 320px;
    height: 1px;
    background-color: #ededed;
  }

  &--goal::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;
    width: 320px;
    height: 1px;
    background-color: #ededed;
  }
}

.main-form__button {
  margin: 30px 0 0;
}

.main-form__list {
  @include resetList;
  padding: 25px 0;

  &--contacts {
    padding: 0;
  }

  &--add {
    padding: 10px 0;
  }
}

.main-form__checkbox + .main-form__label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
  cursor: pointer;
}

.main-form__checkbox:checked + .main-form__label::before {
  background: url("../img/icon-tick.svg") no-repeat 50% 50%;
  background-size: 21px 16px;
}

.main-form__radio + .main-form__label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  cursor: pointer;
}

.main-form__radio:checked + .main-form__label {
  &::after {
    content: "";
    margin: 4px 0 0;
    position: absolute;
    left: 9px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #68b738;
  }

  &::before {
    cursor: default;
  }
}

.main-form__item {
  padding: 7px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.main-form__option {
  position: relative;
  margin: 24px 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .main-form {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 630px;
  }

  .main-form__fieldset {
    width: 100%;
  }

  .main-form__list--add {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-shrink: 0;
  }

  .main-form__option {
    width: 315px;
  }

  .main-form__footnote {
    padding-left: 60px;
  }
}

@media (min-width: $desktop-width) {
  .main-form {
    width: auto;
  }

  .main-form__item,
  .main-form__option {
    width: 570px;
  }

  .main-form__fieldset {
    width: auto;
  }

  .main-form__list--contacts {
    width: 1220px;
    display: flex;
    justify-content: space-between;
  }

  .main-form__input--comment {
    width: 1220px;
  }

  .main-form__list--add .main-form__option {
    width: 285px;
  }
}
