.page-header {
  width: 320px;
  margin: 0 auto;
}

.page-header__logo {
  padding: 11px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
