.page-header {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 320px;
    height: 1px;
    bottom: 0;
    left: -20px;
    background-color: #e6e6e6;
  }
}

.page-header__logo {
  padding: 11px 0 15px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .page-header__menu-button {
    display: none;
  }
}
