.page-main__title {
  margin: 0;
  padding: 15px 0 0;
}

//---tablet---------------------------------------------------------------------
@media (min-width: $tablet-width) {
  .page-main__title {
    padding: 46px 0 25px;
  }
}
//------------------------------------------------------------------------------

//---desktop--------------------------------------------------------------------
@media (min-width: $desktop-width) {
  .page-main__title {
    padding: 62px 0 25px;
  }
}
//------------------------------------------------------------------------------
