.present {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 280px;
  height: 289px;
  background: $mainColor url("../img/gift-photo-mobile@1x.jpg") no-repeat 0 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px auto;
  }
}

.present__icon {
  display: block;
  margin: 60px auto;
  padding: 0;
  width: 55px;
  height: 60px;
  background: url("../img/icon-gift.svg") no-repeat 0 0;
}

.present__text {
  width: 170px;
  margin: 0 auto;

  @include text(16px, 20px);
  color: #ffffff;
  text-align: center;
  text-transform: none;
}

//---tablet---------------------------------------------------------------------
@media (min-width: $tablet-width) {
  .present {
    flex-direction: row;
    width: 708px;
    height: 200px;
    background: $mainColor url("../img/gift-photo-tablet@1x.jpg") no-repeat 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px auto;
    }
  }

  .present__icon {
    margin: 0 0 0 91px;
  }

  .present__text {
    margin: 0 115px 0 auto;
    text-align: left;
  }
}
//------------------------------------------------------------------------------

//---desktop--------------------------------------------------------------------
@media (min-width: $desktop-width) {
  .present {
    width: 245px;
    height: 289px;
    flex-direction: column;
    background: $mainColor url("../img/gift-photo-desktop@1x.jpg") no-repeat 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 245px auto;
    }
  }

  .present__icon {
    margin: 65px auto;
  }

  .present__text {
    margin: 0 auto;
    text-align: center;
  }
}
//------------------------------------------------------------------------------
