.present {
  width: 280px;
  height: 289px;
  background: $mainColor url("../../img/gift-photo-mobile@1x.jpg") no-repeat 0 0;
}

.present__icon {
  display: block;
  width: 55px;
  height: 60px;
  background: url("../../img/icon-gift.svg") no-repeat 0 0;
}

.present__text {
  @include text(16px, 20px);
  color: #fff;
}
