.product-simple {
  padding: 15px 0 17px;
  border-bottom: 1px solid #cdcdcd;
}

.product-simple__title {
  margin: 0;
  padding: 0 0 14px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.product-simple__wrapper {
  padding: 0 0 14px;

  @include text(14px, 14px);
  display: flex;
  justify-content: space-between;
}

.product-simple__price {
  text-transform: uppercase;
}

//---tablet---------------------------------------------------------------------
@media (min-width: $tablet-width) {
  .product-simple {
    display: flex;
    flex-wrap: wrap;
    padding: 26px 0 0;
    border: 1px solid #cdcdcd;
  }

  .product-simple__title {
    margin: 0 0 0 40px;
    padding: 0 0 26px;
    font-size: 20px;
    line-height: 20px;
  }

  .product-simple__wrapper {
    margin: 0 40px 0 auto;

    @include text(16px, 20px);
  }

  .product-simple__price {
    margin: 0 0 0 50px;
  }

  .product-simple__button {
    margin: 0 0 26px 40px;
    width: 630px;
  }
}
//------------------------------------------------------------------------------
