.product {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px 24px;
  margin-bottom: -1px;
  width: 280px;
  border: 1px solid #ededed;

  &--more {
    flex-direction: column;
  }
}

.product__title {
  display: block;
  margin: 0 auto 0 0;
  padding: 0 0 10px;
  width: 75px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.product__info {
  width: 100%;

  @include text(12px, 16px);
  border-collapse: collapse;
}

.product__col-1 {
  text-align: left;
}

.product__col-2 {
  text-align: right;
}

.product__text {
  margin: 0 auto;
  padding: 0 0 15px;

  @include text(12px, 16px);
  text-align: center;
}

.product__description {
  width: 138px;
}

.product__image {
  width: 140px;
  display: block;
}

.product__icon {
  margin: 0 auto;
  padding: 26px 0;
  display: block;
  width: 30px;
  height: 30px;
  background: url("../img/icon-plus-mobile.svg") no-repeat 0 26px;
}

.product--more .product__button {
  background-color: $secondColor;
  color: #444444;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: rgba(68, 68, 68, 0.3);
  }
}

.product--more .product__title {
  width: 100%;
  padding: 0 0 5px;
}

//---tablet---------------------------------------------------------------------
@media (min-width: $tablet-width) {
  .product {
    padding: 0;
    background-color: $secondColor;
    width: 324px;
    border: none;
    flex-direction: column;
    justify-content: flex-start;

    &--more {
      background-color: #ffffff;
      border: 1px solid #e6e6e6;
    }
  }

  .product__image {
    width: 324px;
    padding: 0 0 38px;

    &--small {
      margin: -47px 0 0;
    }

    &--big {
      margin: -82px 0 0;
    }
  }

  .product__description {
    width: 250px;
  }


  .product__title {
    padding: 0 0 20px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    width: 150px;
  }

  .product__info {
    @include text(16px, 16px);
    margin: 0 0 34px;
  }

  .product__row {
    border-bottom: 1px solid #cdcdcd;
  }

  .product__col-1,
  .product__col-2 {
    padding: 7px 0;
  }

  .product__button {
    width: 249px;
    margin: 0 0 40px;
  }

  .product__icon {
    padding: 56px 0 50px;
    width: 60px;
    height: 60px;
    background: url("../img/icon-plus.svg") no-repeat 0 56px;
  }

  .product--more .product__title {
    width: 140px;
    padding: 0 0 26px;
  }

  .product__text {
    padding: 0 0 85px;
    width: 170px;

    @include text(16px, 18px);
  }
}
//------------------------------------------------------------------------------

//---tablet---------------------------------------------------------------------
@media (min-width: $desktop-width) {
  .product {
    width: 245px;
  }

  .product__description {
    width: 170px;
  }

  .product__button {
    width: 169px;
  }

  .product__image {
    width: 245px;
  }
}
