.profile__text {
  margin: 34px 0 15px;
  width: 240px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.profile__title {
  margin: 25px 0 20px;
  display: block;
  width: auto;
  position: relative;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  background-color: #fff;
  &::after {
    content: "";
    position: absolute;
    right: -20px;
    top: 15px;
    width: 100%;
    height: 3px;
    background-color: $mainColor;
    z-index: -1;
  }
}

.profile__label {
  padding: 0 15px 0 0;
  font-size: 16px;
  line-height: 18px;
  color: #222;
  text-transform: uppercase;
  flex-shrink: 0;
  &--option {
    padding: 0 0 0 45px;
    display: block;
  }
}

.profile__input {
  width: 100%;
  box-sizing: border-box;
  padding: 0 45px 0 15px;
  height: 45px;
  font-size: 16px;
  line-height: 18px;
  color: #444;
  text-transform: uppercase;
  &--comment {
    height: 150px;
    padding: 13px;
  }
}

.profile__footnote {
  padding: 20px;
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #444;
  text-align: center;
}

.profile__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.profile__list {
  @include resetList;
  margin: 20px 0;
  &--contacts {
    margin: 40px 0 0;
  }
  &--add {
    margin: 44px 0;
  }
}

.profile__item {
  margin: 14px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__option {
  margin: 25px 0;
}
