.profile {
  padding: 0 0 12px;
}

.profile__text {
  margin: 25px 0 15px;
  width: 260px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .profile__text {
    margin: 34px 0 15px 40px;
  }
}

@media (min-width: $tablet-width) {
  .profile__text {
    margin: 34px 0 15px;
  }
}
