.promo__wrapper {
  min-height: 305px;
  position: relative;
  background: $mainColor url("../../img/index-background-mobile@1x.jpg") no-repeat 0 0;
}

.promo__image {
  position: absolute;
  top: 167px;
}
