.promo__wrapper {
  min-height: 305px;
  position: relative;
  background: $mainColor url("../../img/index-background-mobile@1x.jpg") no-repeat 0 0;
}

.promo__image {
  position: absolute;
  top: 167px;
}

.promo {
  color: #fff;
  font-weight: 400;
}
.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
