.series-product__list {
  @include resetList;
}

.series-product__item {
  background: $secondColor;
  margin: 18px 0;
  padding: 25px 0 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@mixin icon ($width, $height, $left, $bottom, $url) {
  content: "";
  position: absolute;
  width: $width;
  height: $height;
  left: $left;
  bottom: $bottom;
  background: transparent url("#{$url}") no-repeat 0 0;
}

.series-product__icon {
  position: relative;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: $mainColor;

  &--slim::before {
    @include icon(35px, 50px, 8px, 4px, "../img/icon-cat-slim.svg");
  }

  &--pro::before {
    @include icon(67px, 28px, -9px, 11px, "../img/icon-cat-pro.svg");
  }
}

.series-product__link {
  padding: 20px 0;
  position: relative;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;

  &::after {
    position: absolute;
    content: "";
    right: -35px;
    width: 24px;
    height: 11px;
    background: url("../img/icon-right-arrow-long.svg") no-repeat 0 0;
  }

  &:active {
    opacity: 0.3;
  }
}

.series-product__title {
  margin: 0 0 0 20px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}

.series-product__text {
  @include text;
  margin: 0;
  padding: 23px 0;
  width: 240px;
  border-bottom: 1px solid #d9d9d9;
}

//---tablet---------------------------------------------------------------------
@media (min-width: $tablet-width) {
  .series-product__item {
    margin: 36px 0;
    padding: 75px 0 0 52px;
    align-items: flex-start;
  }

  .series-product__icon {
    margin: -20px 60px 0 auto;
    width: 200px;
    height: 200px;
    order: 1;

    &--slim::before {
      @include icon(140px, 194px, 29px, 18px, "../img/icon-cat-slim.svg");
    }

    &--pro::before {
      @include icon(268px, 112px, -35px, 45px, "../img/icon-cat-pro.svg");
    }
  }

  .series-product__title {
    margin: 0;
    font-size: 36px;
    width: 370px;
  }

  .series-product__text {
    @include text(16px, 24px);
    width: 375px;
    border-bottom: none;
  }

  .series-product__link {
    order: 2;
    flex: none;
    padding: 0 0 55px;
    font-size: 20px;
    line-height: 20px;

    &::after {
      right: -48px;
      top: 4px;
    }
}
}
// -----------------------------------------------------------------------------

//---desktop--------------------------------------------------------------------
@media (min-width: $desktop-width) {
  .series-product__list {
    display: flex;
    justify-content: space-between;
  }

  .series-product__item {
    width: 570px;
  }
}
//------------------------------------------------------------------------------
