.site-list {
  @include resetList;
}

.site-list__link {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #111111;
  text-transform: uppercase;
}

.site-list__item {
  padding: 22px 0;
  position: relative;
  text-align: center;

  &::before {
    position: absolute;
    top: -1px;
    left: -69px;
    content: "";
    display: block;
    width: 320px;
    height: 1px;
    background-color: #e6e6e6;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

//---tablet---------------------------------------------------------------------
@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    justify-content: flex-end;
  }

  .site-list__link {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: #222222;
  }

  .site-list__item {
    margin-left: 35px;
    padding: 22px 0 25px;

    &::before {
      content: none;
    }

    &--current .site-list__link::before {
      position: absolute;
      bottom: 18px;
      left: 0;
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: $mainColor;
    }
  }
}
//------------------------------------------------------------------------------

//---desktop--------------------------------------------------------------------
@media (min-width: $desktop-width) {
  .site-list__link {
    font-size: 20px;
    color: #ffffff;
  }

  .site-list__item {
    &--current .site-list__link::before {
      background-color: #ffffff;
    }
  }
}
//------------------------------------------------------------------------------
