.slider-diff__wrapper {
  margin: 0 20px;
  position: relative;
  width: 83px;
  height: 13px;
  background-color: #ffffff;
  border: #cdcdcd solid 1px;
  border-radius: 7px;
}

.slider-diff__toggle {
  position: absolute;
  margin: 4px 6px;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: $mainColor;
}

.slider-diff__button {
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

//---tablet---------------------------------------------------------------------
@media (min-width: $tablet-width) {
  .slider-diff__wrapper {
    width: 428px;
    height: 6px;
    background-color: #dcdcdc;
  }

  .slider-diff__toggle {
    position: absolute;
    top: -17px;
    left: 200px;
    margin: 0;
    width: 32px;
    height: 32px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &::before {
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $mainColor;
      position: absolute;
      top: 12px;
      left: 12px;
    }

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
      border: 2px solid $mainColor;
    }
  }

  .slider-diff__button {
    font-size: 20px;
    position: relative;
    outline-style: none;

    &::before {
      content: "";
      position: absolute;
      bottom: -6px;
      left: 0;
      width: 100%;
      border-bottom: 1px dotted #bebebe;
    }

    &:hover {
      &::before {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 0;
        width: 100%;
        border-bottom: 1px solid #989898;
      }
    }

    &:active {
      &::before {
        content: none;
      }
    }
  }
}
//------------------------------------------------------------------------------
