.social {
  width: 280px;
  padding: 21px 0;
  border-bottom: 1px solid #d9d9d9;
}

.social__list {
  @include resetList;
  width: 128px;
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__button {
  display: block;
  background: no-repeat 50% 50%;

  &--vk {
    width: 22px;
    height: 12px;
    background-image: url("../img/icon-vk-mobile.svg");
  }

  &--insta {
    width: 16px;
    height: 16px;
    background-image: url("../img/icon-insta-mobile.svg");
  }

  &--fb {
    width: 10px;
    height: 19px;
    background-image: url("../img/icon-fb-mobile.svg");
  }
}
