//---variables------------------------------------------------------------------
$mainColor: #68b738;
$secondColor: #f2f2f2;
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//------------------------------------------------------------------------------

//---mixins---------------------------------------------------------------------
@mixin text ($fontSize: 14px, $lineHeight: 18px) {
  font-family: "Arial", sans-serif;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: #444444;
}

@mixin resetList {
  margin: 0;
  padding: 0;
  list-style: none;
}
//------------------------------------------------------------------------------
